.container-margins{
    padding: 70px
}

#backgroundDiv {
    height: 700px;
    background-color: #f7f8f9;
    padding: 40px;
}

#backgroundPaper {
    background: white;
    height: 100%;
    padding: 20px;
}
#backgroundPaper h1 {
    font-size: 20px;
    margin-left: 20px;
    color: #388cc8;
    font-weight: 700;
}

.div1-margins {
    padding-top: 200px;
}

#backgroundPaper input {
    margin-left: 18px;
    background-color: #fff;
    border: #388cc8 2px solid;
    border-radius: 0;
    margin-top: 10px;
    min-width: 350px;
    height: 20px;
    font-size: 12px;

}

#button-historico{
    border-radius: 20px;
    background: #388cc8;
    border-color: #388cc8;
    font-weight: 600;
}

#button-historico:hover{
    color: #124670;
}

@media (max-width: 1024px) {
    #backgroundDiv { display: none;}
    .imgPerfil {
        margin-bottom: 15px;
        margin-top: 70px;
    }
    #showLabel {
        margin-top: -40px;
    }

    .form-employee{
        margin-top: -250px;
    }
}