.container-margins{
    padding: 70px;
}

#backgroundDiv {
    height: 700px;
    background-color: #f7f8f9;
    padding: 40px;
}

#backgroundPaper {
    background: white;
    height: 100%;
    padding: 20px;
}
#backgroundPaper h1 {
    font-size: 20px;
    margin-left: 20px;
    color: #388cc8;
    font-weight: 700;
}

.div1-margins {
    padding-top: 200px;
}

.imgPerfilAtualizar {
    margin-left: -7px;
}

#imgPerfilDivPDF {
    height: 100px;
    width: 100px;
    margin-left: 18px;
}

#backgroundPaper input {
    margin-left: 18px;
    background-color: #fff;
    border: #388cc8 2px solid;
    border-radius: 0;
    margin-top: 10px;
    min-width: 350px;
    height: 20px;
    font-size: 12px;

}

#button-historico{
    border-radius: 20px;
    background: #388cc8;
    border-color: #388cc8;
    font-weight: 600;
}

#button-historico:hover{
    color: #124670;
    background: #fff;
    border-color: #fff;
}

/*Medias CSS*/

@media (max-width: 1150px) {
    #backgroundDiv { display: none;}
    .imgPerfilAtualizar {
        margin-bottom: 50px;
        margin-left: 30px;
    }
    #showLabel {
        margin-top: -40px;
    }

    .form-employee{
        margin-top: -250px;
    }
}

@media (max-width: 990px) {
    #backgroundDiv { display: none;}
    #alignFotoPerfil990 {
        margin-left: 10px;
        margin-top: -50px;
        margin-bottom: 10px;
    }

    #alignFoto990 {
        margin-left: 10px;
        margin-top: -50px;
        margin-bottom: 10px;
    }

    #showLabel {
        margin-top: -40px;
    }

    .form-employee{
        margin-top: -250px;
    }

    #formAlign {
        margin-top: 200px;
    }

}