.links-home {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #2581c4;
    color: #2581c4;
    width: 350px;
    max-height: 600px;
    height: 55vh;
    margin: 15vh auto;
    padding: 15px;
    border-radius: 5px;
    border: #2581c4 solid 5px;
    overflow: hidden;
}

button {
    width: 220px;
    height: 50px;
    background: #fff;
    border-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.links-content {
    background:#fff;
    color: #2581c4;
    font-size: 18px;
    font-weight: 900;
}

.title-home {
    color: #fff;
    text-align: center;
    font-size: 30px;
}