#header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.logo img {
    width: 150px;
}

.links-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.home-button {
    width: 100px;
    height: 20px;
    color: #b5babd;
    align-self: center;
    text-align: center;
    margin-bottom: 10px;
}

.home-icon {
    width: 100%;
    height: 100%;
}

.logo ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 5px;
    background: #e7ebee;
}

.links-nav ::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 100px;
    width: 165px;
    height: 2px;
    background: #e7ebee;
    transform: rotate(90deg);
}

.links-nav ::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 30px;
    width: 165px;
    height: 2px;
    background: #e7ebee;
    transform: rotate(90deg);
}