.form-signin {
    max-width: 330px;
    width: 330px;
    padding: 15px;
    margin: 5vh auto;
}

.submitButton {
    color: #fff;
}

.links {
    margin-top: 25px;
    font-size: 14px;
}

.boxSizing {
    height: 60px;
}